<!DOCTYPE HTML>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/download.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/christmas.jpg">
    </div>
    {{>footer}}
</body>
<footer></footer>

</html>